<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        {{!-- Custom Links --}}
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../custom_css/style.css">
<link rel="shortcut icon" href="../../public/images/gi.png" type="image/x-icon">  

    </head>
    <body>
        {{>header}}

        <div class="container-fluid">
            <div class="row ml-3" style='text-align: center;'>
                <div class='col-md-6 pt-lg-0 order-2 order-lg-1 d-flex
                    justify-content-center flex-column'>
                    <strong class='brand-name'>Daily Sleep Tracker</strong>

                    <h3>An Application to Measure your sleep pattern</h3>
                    <div class='mt-3'>
                        <a href="#page2" class='btn btn-outline-success
                            get-started'>
                            Get Started
                        </a>
                    </div>
                </div>

                <div class='col-md-6 mt-2 pt-lg-0 order-2 order-lg-1 d-flex
                    justify-content-center flex-column'>
                    <img class='animated' src="../Images/home2.png" alt="home
                        Image" width="90%" height="90%">
                </div>

            </div>

            <div class="row ml-3 mr-3" style='text-align:
                center;padding-top:100px; padding-bottom:100px'>
                <div class='col-md-6 mt-4 pt-lg-0 order-2 order-lg-1 d-flex
                    justify-content-center flex-column'>
                    <img class='animated' src="../Images/home1.png" alt="home
                        Image" width="90%" height="90%">
                </div>

                <div class='col-md-6 pt-lg-0 order-2 order-lg-1 d-flex
                    justify-content-center flex-column'>
                    <strong id="page2" class='brand-name'>Details</strong>

                    <h3><i>An Application to Measure your sleep pattern and much
                        more.</i><br><br>This Application keeps the daily record of your sleep and calculates total Sleep Time and let you know about your Sleep pattern</h3>

                </div>

            </div>
        </div>
        
        {{>footer}}
        <script src="../jq/jquery.js" type="text/javascript"></script>
        <script src="../js/bootstrap.js" type="text/javascript"></script>
    </body>
</html>
